/*Global Setting*/
/*페이지 전반에서 사용되는 컬러, 폰트사이즈, 폰트 굵기, 사이즈 등등*/

:root {

    /* Color */
  
    --color-white: #ffffff;
  
    --color-light-white: #eeeeee;
  
    --color-dark-white: #bdbdbd;
  
    --color-pink: #fe918d;
  
    --color-dark-pink: #ff6863;
  
    --color-black: #4d4d4d;
  
    --color-dark-grey: #4d4d4d;
  
    --color-grey: #616161;
  
    --color-light-grey: #7c7979;
  
    --color-blue: #73aace;
  
    --color-yellow: #fff7d1;
  
    --color-orange: #feb546;
  
    --color-black: #000000;
  
    /* Font size */
  
    --font-large: 48px;
  
    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
  
    /* Font weight */
  
    --weight-bold: 700;
  
    --weight-semi-bold: 600;
  
    --weight-regular: 400;
  
  }

  /*Universal tags*/
/*공통적으로 적용해야할 태그*/
  *{
      box-sizing: border-box;   /*즉, 패딩을 줬을떄 너비와 높이가 패딩을 포함했을떄도 동일한 너비와 높이가 되도록!*/
  }
  /*Typography*/
  h1{
      font-size: large;
      font-weight: var(--weight-bold);
      columns: var(--color-black);
      margin: 16px 0;   /*-> 개발자도구로 현재 h1태그의 너비 높이 체크해본 후에 ->상하 좌우 */
  }
  h2{
      font-size: var(--font-regular);
      font-weight: var(--weight-semi-bold);
      color: var(--color-black);
      margin: 8px 0;
  }
  h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

